:root {
  --grid-size: 450px;
  --container-size: ;
  --matte-black: #28282b;
  --matte-red: #b22222;
  --white: #f2f3f4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--matte-black);
}

#app {
  height: 100dvh;
  min-width: 1000px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
  position: relative;
  background-color: var(--white);
}

#get-name {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  border: 5px solid var(--matte-black);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  gap: 10px;
}

#get-name > input,
#get-name > button {
  padding: 10px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  border: 2px solid var(--matte-black);
  background-color: transparent;
  color: var(--matte-black);
  text-align: center;
  font-weight: bolder;
}

.human-container,
.bot-container {
  min-width: 500px;
  height: 90%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.human-name,
.bot-name {
  text-align: center;
}

.human-board,
.bot-board {
  width: var(--grid-size);
  height: var(--grid-size);
  border: 5px solid var(--matte-black);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.winner-div {
  position: absolute;
  z-index: 2;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  gap: 10px;
  font-size: 1.5rem;
  background-color: var(--matte-black);
}

.winner-div > p,
.winner-div > button {
  color: var(--white);
  font-weight: bolder;
  text-align: center;
}

.winner-div > button {
  padding: 10px;
  border: 2px solid var(--white);
  border-radius: 5px;
  background-color: transparent;
}

.cells {
  border: 1px solid var(--matte-black);
}

.ship {
  background-color: var(--matte-black);
}

.temp-ship {
  background-color: darkslategrey;
}

.hit {
  background-color: var(--matte-red);
  border: 1px solid var(--matte-red);
}

.missed {
  background-color: gray;
}
